.food-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 0.5s;
    height: 100%; /* Ensure the card takes full height of the grid cell */
}

.food-item-img-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 200px; /* Set a fixed height for the image container */
}

.food-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This ensures the image covers the entire container while maintaining its aspect ratio */
    border-radius: 15px 15px 0 0;
}

.food-item-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; /* Allow this element to grow */
}

.food-item-name-ratings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.food-item-name-ratings p {
    font-size: 20px;
    font-weight: bold;
}

.food-item-desc {
    color: rgb(73, 70, 70);
    font-size: 12px;
    flex-grow: 1; /* Allow this element to grow */
}

.food-item-price {
    color: rgb(73, 70, 70);
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0px;
}

.food-item-img-container .add {
    width: 30px;
    height: 30px;
    padding: 10px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
    color: rgb(121, 117, 117);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.food-item-counter {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
}

@media (max-width: 800px){
    .food-item-img-container .add {
        width: 40px;
        height: 40px;
        padding: 10px;
        position: absolute;
        bottom: 15px;
        right: 15px;
        cursor: pointer;
        border-radius: 50%;
        color: rgb(121, 117, 117);
        background-color: white;
    }

    .food-item-counter .plus{
        font-size: 25px;
    }
    
    .food-item-counter .minus{
        font-size: 25px;
    }
    
    .food-item-counter .count{
        font-size: 25px;
    }
}