.navbar {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.japaneseLogo {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 30px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 20px;
    color: #525252;
}

.menu a {
    color: rgb(58, 58, 58);
    cursor: pointer;
}

.menu a:hover {
    color: blue;
    transition-duration: 200ms;
}

.menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background: white;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    gap: 10px;
    z-index: 1000; /* Added z-index */
}

.right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar button {
    background: transparent;
    font-size: 20px;
    color: hsl(0, 0%, 32%);
    border: 2px solid black;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.navbar button:hover {
    background: #525252;
    font-size: 20px;
    color: white;
    border: 2px solid black;
    padding: 8px 15px;
    border-radius: 20px;
    transition-duration: 200ms;
    cursor: pointer;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #525252;
}

.search-icon-navbar {
    position: relative;
}

.search-icon-navbar .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: red;
    border-radius: 10px;
    top: -8px;
    right: -8px;
}

.search-icon-navbar .shopping-cart{
    font-size: 20px;
    color: black
}

.hamburger {
    display: none;
    font-size: 25px;
    cursor: pointer;
}

.right .search{
    font-size: 20px;
}

@media (max-width: 1050px) {
    .menu {
        gap: 20px;
        font-size: 15px;
    }

    .right {
        gap: 30px;
    }

    .right button {
        padding: 8px 25px;
    }
}

@media (max-width: 900px) {
    .menu {
        gap: 15px;
        font-size: 17px;
    }

    .right {
        gap: 20px;
    }

    .right button {
        padding: 7px 20px;
        font-size: 15px;
    }

    .hamburger {
        display: none;
    }
}

@media (max-width: 750px) {
    .menu {
        display: none;
    }

    .menu.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}